p {
  font-size:15px;
  font-family: 'Hind Siliguri', sans-serif;
}

h1 {
  font-size: 70px;
  font-family: 'Hind Siliguri', sans-serif;
  text-align:left;
}

h3 {
  font-family: 'Hind Siliguri', sans-serif;

}

/*
.headerBar {
  column-count: 3;
  column-rule-style: solid;
}
*/


h6 {
  font-size: 15px;
}

body {
  background-image: linear-gradient(rgb(103, 128, 159), #2e3131);
  margin: 3% 20% 3% 20%;
  text-align: justify;
  color: #dadfe1;
}

h3 {
  padding-top: 5%;
}
